{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue chez BOOKING !
{% endblock %}


{% block body %}
    <h1>BOOKING !<h1/>
    <hr>
    <p> Page d'accueil à compléter</p>

{% endblock %}
