{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue chez BOOKING !
{% endblock %}


{% block body %}
<div class="container-fluid d-flex align-items-center vh-100 ">

<div class="container d-flex flex-column align-items-center mb-5 p-5 border border-warning rounded-pill shadow-lg ">

<h1 class="p-5 border-bottom "><span class="p-2 text-uppercase">Bienvenue chez</span> <span class="text-primary border-bottom border-left border-danger rounded pb-1 px-2 font-italic ">BOO</span><span class="text-danger border-top border-right border-primary rounded pt-1 pr-2 font-weight-bold ">KING</span> !<h1/>
<small class="font-italic h5 p-5 ">Le meilleur du livre au meilleur prix !</small>
<hr>

</div>

</div>



{% endblock %}
